# Environment
.env
.env.local

# Python
__pycache__/
*.py[cod]
*.so
venv/
env/

# Models & training output
backend/models/train/
*.pt

# Dataset cache
*.cache

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
